#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-development.xcconfig"
#include "Generated.xcconfig"

ENVIRONMENT_PLIST = environments/development/development.plist
APP_DISPLAY_NAME = Movie App DEV
bundle_suffix=.dev
CF_BUNDLE_URL_NAME=movie_appdev.example.com
CF_BUNDLE_URL_SCHEME=exampledevscheme

